.btn,
.btn--primary,
.btn--secondary,
.btn--tertiary,
.btn--error,
.btn--disabled,
.btn--buy,
.btn--image,
button {
    
	
	font-size: em(15);
	line-height: em($grid-spacing*3,15);
	
	padding-left: em(15,15);
	padding-right: em(15,15);
	
	@include breakpoint(med){
		padding-left: em(30,15);
		padding-right: em(30,15);
	}
	
	background: $colour-first;
	
	border: none;
	outline: 1px solid currentColor;
	color: white;
	
	//border-radius: em(8,14);
	margin-bottom: rem($grid-spacing);
	
	
				white-space: nowrap;
	
	svg {
		height: 1em;
		width: 1em;
		fill: currentColor;
		vertical-align: baseline;
		display: inline-block;
		margin-left: -0.5em;
		margin-right: 0.5em;
		margin-bottom: -0.2em;
	}
	
    &[data-icon-class="right"] svg{
        
        float: right;
        margin-right: 0;
        margin-left: 0.75em;
    }
	
	&.right {
		float: right;
	}
	
	&.center {
		float: left;
		margin-left: 50%;
		
		@include prefix(transform, translate(-50%,0));
	}
	
	&:hover {
		outline: 1px solid currentColor;
		opacity: 0.8;
	}
}

.btn--secondary {
    
    background: $colour-second;
}

.btn--tertiary {
    
    background: $colour-third;
}

.btn--error {
    
    background: $colour-error;
}